
#prima{
    display: flex;
    justify-content: center;
    height: 600px;
    .container{


        #left-cont, #right-cont{
            @include left-right-container; 
            height: 100%;
            @include display-flex-column;
            justify-content: center;
            img{
                max-width: 570px;
            }
        }

        #left-cont{
            padding-right: 100px;
            
           h1{
               font-size: 50px;
               line-height: 1.4;
               padding-bottom: 30px;
           }
           p{
               font-size: 25px;
               line-height: 1.4;
               padding-bottom: 50px;
           }

           
        }   


        
    }
}
