*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    color: $text-color;
}

@mixin display-flex-row {
    display: flex;
    flex-direction: row;
}

@mixin display-flex-column{
    display: flex;
    flex-direction: column;
}


.container {
    @include display-flex-row;
    width: 1200px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

@mixin left-right-container{
    width: 50%;
}

.buttons{
    @include display-flex-row;
    align-items: center;
    padding-bottom: 20px;

    span{
        margin-left: 10px;
        margin-right: 10px;
        color: lightgray;
    }

    button{

        a{
            @include display-flex-row;
            align-items: center;
            justify-content: center;
        }
        
        padding: 10px;
        background-color: $blue-buttons;
        border:none;
        border-radius: 10px;
        color: white;

        img{
             padding-right: 10px;
        }

        &:hover{
            background-color: $hover-buttons;
        }
         
    }
}

.google-logo{
    height: 20px;
}

.email{
    i{
        font-size: 15px;
        vertical-align: middle;
    }
}